<a href="https://colab.research.google.com/github/osiascorrea/GoogleRepos-001/blob/main/db0001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: write a python code to get user input in a database of your choice

import sqlite3

# Connect to the database (or create it if it doesn't exist)
conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()

# Create a table if it doesn't exist
cursor.execute('''CREATE TABLE IF NOT EXISTS users
                (id INTEGER PRIMARY KEY AUTOINCREMENT,
                 name TEXT NOT NULL,
                 email TEXT NOT NULL)''')

# Get user input
name = input("Enter your name: ")
email = input("Enter your email: ")

# Insert data into the table
cursor.execute("INSERT INTO users (name, email) VALUES (?, ?)", (name, email))

# Commit the changes
conn.commit()

print("Data inserted successfully!")

# Close the connection
conn.close()

Enter your name: Camrade Kamla Harris
Enter your email: camredharris@mail.com
Data inserted successfully!

In [2]:
# prompt: create a python code to select * from this table created in this database, including the db connection

import sqlite3

# Connect to the database
conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()

# Select all data from the table
cursor.execute("SELECT * FROM users")

# Fetch all rows
rows = cursor.fetchall()

# Print the results
for row in rows:
  print(row)

# Close the connection
conn.close()

OperationalError: no such table: users

In [ ]:
from google.colab import drive
drive.mount('/content/drive')